body {
  font-family: 'Lalezar', cursive; }

* {
  box-sizing: border-box; }

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .tab-list__item {
    margin: 0 1px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: gray; }
    .tab-list__item:hover {
      border-bottom: 4px solid rgba(148, 199, 83, 0.5); }
    .tab-list__item.active {
      border-bottom: 4px solid #94C753;
      color: black; }
  .tab-list__link {
    text-decoration: none;
    color: inherit; }

.summary {
  margin: 1em 0;
  text-align: center;
  font-size: 21px; }
  .summary__count {
    margin-bottom: -20px;
    font-size: 128px;
    line-height: 1em;
    display: block; }
  .summary__date {
    font-size: 36px;
    display: block; }

.bar-chart {
  margin: 0 auto;
  border: 1px solid #94C753;
  max-width: 1200px;
  height: 25px; }
  .bar-chart__elapsed {
    background-color: #94C753;
    height: 100%; }

.graph {
  margin: 2em auto;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8.33fr)[12];
      grid-template-columns: repeat(12, 8.33fr);
  /* 12 columns */ }
  .graph__month {
    margin: 1em 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
    position: relative; }
    .graph__month::before {
      content: attr(title);
      display: block;
      position: absolute;
      top: -1.5em;
      visibility: hidden; }
    .graph__month:hover::before {
      visibility: visible; }
  .graph__week {
    border: 1px solid #C4C4C4;
    width: 5px;
    height: 15px;
    display: block;
    border-radius: 5px; }
    .graph__week + .graph__week {
      margin-left: 10px; }
    .graph__week--elapsed {
      border: none;
      background-color: #94C753; }
    .graph__week--current {
      border: none;
      background-color: #F5BA61; }
